@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;
@custom-variant dark (&:is(.dark *));


/* THEME AND COLORS */

@theme inline {
  /* KOROFU COLORS */
  --color-korofu-default: var(--korofu-default);

  --color-korofu-yellow: var(--korofu-yellow);
  --color-korofu-dark-red: var(--korofu-dark-red);
  --color-korofu-pink: var(--korofu-pink);
  --color-korofu-aqua: var(--korofu-aqua);
  --color-korofu-indigo: var(--korofu-indigo);
  --color-korofu-gold: var(--korofu-gold);
  --color-korofu-orange: var(--korofu-orange);
  --color-korofu-purple: var(--korofu-purple);
  --color-korofu-gray: var(--korofu-gray);
  --color-korofu-beige: var(--korofu-beige);
  --color-korofu-blue: var(--korofu-blue);
  --color-korofu-green: var(--korofu-green);

  --color-korofu-light-red: var(--korofu-light-red);
  --color-korofu-light-yellow: var(--korofu-light-yellow);

  /* DEFAULT */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {

  /* ORIGINAL */
  --radius: 0.625rem;
  --background: #F9F5F2;
  --foreground: #0A0A0A;
  --card: #FFFFFF;
  --card-foreground: #0A0A0A;
  --popover: #FFFFFF;
  --popover-foreground: #0A0A0A;
  --primary: #343434;
  --primary-foreground: #FCFCFC;
  --secondary: #F7F7F7;
  --secondary-foreground: #343434;
  --muted: #F7F7F7;
  --muted-foreground: #7E7E7E;
  --accent: #F7F7F7;
  --accent-foreground: #343434;
  --destructive: #DA3B3B;
  --border: #EAEAEA;
  --input: #EAEAEA;
  --ring: #B4B4B4;
  --chart-1: #E16F3D;
  --chart-2: #3B83DB;
  --chart-3: #4653C9;
  --chart-4: #E9CA49;
  --chart-5: #D7D547;
  --sidebar: #FCFCFC;
  --sidebar-foreground: #262626;
  --sidebar-primary: #343434;
  --sidebar-primary-foreground: #FCFCFC;
  --sidebar-accent: #F7F7F7;
  --sidebar-accent-foreground: #343434;
  --sidebar-border: #EAEAEA;
  --sidebar-ring: #B4B4B4;

  /* COLORS TO USE */
  --korofu-default: #F9F5F2;

  --korofu-yellow: #FFE262;
  --korofu-dark-red: #FF594D;
  --korofu-pink: #FF91E8;
  --korofu-aqua: #4FD3C6;
  --korofu-indigo: #91A8EC;
  --korofu-gold: #E9B349;
  --korofu-orange: #FF914D;
  --korofu-purple: #BFADFF;
  --korofu-gray: #E8E8E8;
  --korofu-beige: #FFDED0;
  --korofu-blue: #ADDFFF;
  --korofu-green: #A2E59C;

  --korofu-light-red: #FF6D4D;
  --korofu-light-yellow: #FFF5CC;
}

.dark {
  --background: #262626;
  --foreground: #FCFCFC;
  --card: #343434;
  --card-foreground: #FCFCFC;
  --popover: #343434;
  --popover-foreground: #FCFCFC;
  --primary: #EAEAEA;
  --primary-foreground: #343434;
  --secondary: #454545;
  --secondary-foreground: #FCFCFC;
  --muted: #454545;
  --muted-foreground: #B4B4B4;
  --accent: #454545;
  --accent-foreground: #FCFCFC;
  --destructive: #E15538;
  --border: #FFFFFF1A;
  --input: #FFFFFF26;
  --ring: #7E7E7E;
  --chart-1: #5F6CE1;
  --chart-2: #73C66E;
  --chart-3: #D7D547;
  --chart-4: #B46DE6;
  --chart-5: #DA8C4E;
  --sidebar: #343434;
  --sidebar-foreground: #FCFCFC;
  --sidebar-primary: #5F6CE1;
  --sidebar-primary-foreground: #FCFCFC;
  --sidebar-accent: #454545;
  --sidebar-accent-foreground: #FCFCFC;
  --sidebar-border: #FFFFFF1A;
  --sidebar-ring: #7E7E7E;
}


/* BASE STYLES */

@layer utilities {
  .text-outline {
    text-shadow: 2px 0 0 #000, 0 2px 0 #000, -2px 0 0 #000, 0 -2px 0 #000;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@font-face {
  font-family: "SFUFutura";
  src: url("/fonts/SFUFuturaLight.TTF") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "SFUFutura";
  src: url("/fonts/SFUFuturaRegular.TTF") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SFUFutura";
  src: url("/fonts/SFUFuturaMedium.TTF") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "SFUFutura";
  src: url("/fonts/SFUFuturaHeavy.TTF") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "SFUFutura";
  src: url("/fonts/SFUFuturaBold.TTF") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "SFUFutura";
  src: url("/fonts/SFUFuturaExtraBold.TTF") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Quicksand";
  src: url("/fonts/Quicksand-VariableFont_wght.ttf") format("truetype");
  font-style: normal;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

* {
  font-family: "SFUFutura", "Quicksand", sans-serif;
}

@layer components{

  /* BUTTON STYLES */

  .large-button {
    @apply
    w-80 h-18 px-3.5 py-1
    rounded-[5px] shadow-[3px_3px_0px_rgba(0,0,0,1)]
    outline outline-2 outline-offset-[-2px] outline-black
    flex justify-center items-center gap-2.5
    cursor-pointer
    hover:translate-y-1 hover:shadow-[1px_1px_0px_rgba(0,0,0,1)] transition-all
    text-center text-black text-2xl font-semibold leading-loose
  }

  .medium-button {
    @apply
    w-60 h-15 px-3.5 py-1
    rounded-[5px] shadow-[3px_3px_0px_rgba(0,0,0,1)]
    outline outline-2 outline-offset-[-2px] outline-black
    flex justify-center items-center gap-2.5
    cursor-pointer
    hover:translate-y-1 hover:shadow-[1px_1px_0px_rgba(0,0,0,1)] transition-all
    text-center text-black text-xl font-semibold leading-loose
  }

  .small-button {
    @apply
    w-20 h-12 px-3.5 py-1
    rounded-[7px] shadow-[3px_3px_0px_rgba(0,0,0,1)]
    outline outline-2 outline-offset-[-2px] outline-black
    flex justify-center items-center gap-2.5
    cursor-pointer
    hover:translate-y-1 hover:shadow-[1px_1px_0px_rgba(0,0,0,1)] transition-all
    text-center text-black text-xl font-semibold leading-loose
  }

  .cancel-button {
    @apply
    flex items-center justify-center
    cursor-pointer
    bg-korofu-light-yellow border-2 border-black 
    shadow-[3px_3px_0px_0px_black] rounded-[7px] w-12 h-12 absolute top-2 left-2
    leading-loose text-2xl font-bold !font-['Quicksand'] text-korofu-light-red
    hover:translate-y-1 hover:shadow-[1px_1px_0px_rgba(0,0,0,1)] transition-all
  }

  .skip-button {
    @apply
    flex items-center justify-center px-2
    cursor-pointer
    bg-korofu-light-red border-2 border-black 
    shadow-[3px_3px_0px_0px_black] rounded-[7px] h-12 absolute top-2 right-2
    text-center text-2xl font-semibold leading-loose text-korofu-light-yellow
    hover:translate-y-1 hover:shadow-[1px_1px_0px_rgba(0,0,0,1)] transition-all
  }

  .popup {
    @apply
    relative
    bg-white text-center
    py-15 px-10 max-w-[30%] w-full z-10
    outline outline-2 outline-black
    rounded-lg shadow-[8px_8px_0px_rgba(0,0,0,1)];
  }


  /* TEXT STYLES */

  .drop-shadow-loading-text {
    @apply
    text-center justify-center
    text-4xl font-bold
    leading-[45px] [text-shadow:_3px_2px_0px_rgb(0_0_0)] [-webkit-text-stroke:1.5px_black]
  }

  .drop-shadow-title-middle {
    @apply
    text-center justify-center
    text-4xl font-bold
    leading-[57.5px] [text-shadow:_3px_2px_0px_rgb(0_0_0)] [-webkit-text-stroke:1.5px_black]
  }

  .drop-shadow-title-top {
    @apply
    mb-6
    text-left
    text-4xl font-bold 
    leading-[57.5px] [text-shadow:_3px_2px_0px_rgb(0_0_0)] [-webkit-text-stroke:1.5px_black]
  }


  /* CARD STYLES */

  .card {
    @apply
    flex items-center gap-4
    cursor-pointer
    bg-white border-2 border-black
    shadow-[6px_6px_0px_0px_black]
    rounded-[10px] p-[20px_18px]
    w-full h-37.5;
}

  .card-square {
    @apply
    bg-white border-2 border-black
    shadow-[6px_6px_0px_0px_black]
    rounded-[10px] p-[20px_18px]
    w-[246px] h-[319px];
  }
}