@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;
@custom-variant dark (&:is(.dark *));

/* THEME AND COLORS */

@theme inline {
  /* KOROFU COLORS */
  --color-korofu-default: var(--korofu-default);

  --color-korofu-yellow: var(--korofu-yellow);
  --color-korofu-dark-red: var(--korofu-dark-red);
  --color-korofu-pink: var(--korofu-pink);
  --color-korofu-aqua: var(--korofu-aqua);
  --color-korofu-indigo: var(--korofu-indigo);
  --color-korofu-gold: var(--korofu-gold);
  --color-korofu-orange: var(--korofu-orange);
  --color-korofu-purple: var(--korofu-purple);
  --color-korofu-gray: var(--korofu-gray);
  --color-korofu-beige: var(--korofu-beige);
  --color-korofu-blue: var(--korofu-blue);
  --color-korofu-green: var(--korofu-green);

  --color-korofu-light-red: var(--korofu-light-red);
  --color-korofu-light-yellow: var(--korofu-light-yellow);

  /* DEFAULT */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  /* ORIGINAL */
  --radius: 0.625rem;
  --background: #f9f5f2;
  --foreground: #0a0a0a;
  --card: #ffffff;
  --card-foreground: #0a0a0a;
  --popover: #ffffff;
  --popover-foreground: #0a0a0a;
  --primary: #343434;
  --primary-foreground: #fcfcfc;
  --secondary: #f7f7f7;
  --secondary-foreground: #343434;
  --muted: #f7f7f7;
  --muted-foreground: #7e7e7e;
  --accent: #f7f7f7;
  --accent-foreground: #343434;
  --destructive: #da3b3b;
  --border: #eaeaea;
  --input: #eaeaea;
  --ring: #b4b4b4;
  --chart-1: #e16f3d;
  --chart-2: #3b83db;
  --chart-3: #4653c9;
  --chart-4: #e9ca49;
  --chart-5: #d7d547;
  --sidebar: #fcfcfc;
  --sidebar-foreground: #262626;
  --sidebar-primary: #343434;
  --sidebar-primary-foreground: #fcfcfc;
  --sidebar-accent: #f7f7f7;
  --sidebar-accent-foreground: #343434;
  --sidebar-border: #eaeaea;
  --sidebar-ring: #b4b4b4;

  /* COLORS TO USE */
  --korofu-default: #f9f5f2;

  --korofu-yellow: #ffe262;
  --korofu-dark-red: #ff594d;
  --korofu-pink: #ff91e8;
  --korofu-aqua: #4fd3c6;
  --korofu-indigo: #91a8ec;
  --korofu-gold: #e9b349;
  --korofu-orange: #ff914d;
  --korofu-purple: #bfadff;
  --korofu-gray: #e8e8e8;
  --korofu-beige: #ffded0;
  --korofu-blue: #addfff;
  --korofu-green: #a2e59c;

  --korofu-light-red: #ff6d4d;
  --korofu-light-yellow: #fff5cc;
}

.dark {
  --background: #262626;
  --foreground: #fcfcfc;
  --card: #343434;
  --card-foreground: #fcfcfc;
  --popover: #343434;
  --popover-foreground: #fcfcfc;
  --primary: #eaeaea;
  --primary-foreground: #343434;
  --secondary: #454545;
  --secondary-foreground: #fcfcfc;
  --muted: #454545;
  --muted-foreground: #b4b4b4;
  --accent: #454545;
  --accent-foreground: #fcfcfc;
  --destructive: #e15538;
  --border: #ffffff1a;
  --input: #ffffff26;
  --ring: #7e7e7e;
  --chart-1: #5f6ce1;
  --chart-2: #73c66e;
  --chart-3: #d7d547;
  --chart-4: #b46de6;
  --chart-5: #da8c4e;
  --sidebar: #343434;
  --sidebar-foreground: #fcfcfc;
  --sidebar-primary: #5f6ce1;
  --sidebar-primary-foreground: #fcfcfc;
  --sidebar-accent: #454545;
  --sidebar-accent-foreground: #fcfcfc;
  --sidebar-border: #ffffff1a;
  --sidebar-ring: #7e7e7e;
}

/* BASE STYLES */

@layer utilities {
  .text-outline {
    text-shadow: 2px 0 0 #000, 0 2px 0 #000, -2px 0 0 #000, 0 -2px 0 #000;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@font-face {
  font-family: "SFUFutura";
  src: url("/fonts/SFUFuturaLight.TTF") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "SFUFutura";
  src: url("/fonts/SFUFuturaRegular.TTF") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SFUFutura";
  src: url("/fonts/SFUFuturaMedium.TTF") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "SFUFutura";
  src: url("/fonts/SFUFuturaHeavy.TTF") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "SFUFutura";
  src: url("/fonts/SFUFuturaBold.TTF") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "SFUFutura";
  src: url("/fonts/SFUFuturaExtraBold.TTF") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Quicksand";
  src: url("/fonts/Quicksand-VariableFont_wght.ttf") format("truetype");
  font-style: normal;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@layer components {
  * {
  font-family: "SFUFutura", "Quicksand", sans-serif;
  scrollbar-width: thin;
  scrollbar-color: gray transparent;
  }

  /* Chrome, Edge, Safari */
  *::-webkit-scrollbar {
    width: 6px;       /* thin */
    height: 6px;      /* for horizontal scroll */
  }

  *::-webkit-scrollbar-track {
    background: transparent; /* no background */
  }

  *::-webkit-scrollbar-thumb {
    background-color: white;   /* white scrollbar */
  }

  *::-webkit-scrollbar-button {
    display: none; /* hide arrows */
  }

  .tags-scroll::-webkit-scrollbar-thumb {
    background-color: white;
  }

  .tags-scroll {
    scrollbar-color: white transparent; /* for Firefox */
  }

  /* BUTTON STYLES */

  .large-button {
    @apply w-80 h-18 px-3.5 py-1
    rounded-[5px] shadow-[3px_3px_0px_rgba(0,0,0,1)]
    outline outline-2 outline-offset-[-2px] outline-black
    flex justify-center items-center gap-2.5
    cursor-pointer
    hover:translate-y-1 hover:shadow-[0px_0px_0px_rgba(0,0,0,1)] transition-all
    text-center text-black text-2xl font-semibold leading-loose;
  }

  .medium-button {
    @apply w-60 h-15 px-3.5 py-1
    rounded-[5px] shadow-[3px_3px_0px_rgba(0,0,0,1)]
    outline outline-2 outline-offset-[-2px] outline-black
    flex justify-center items-center gap-2.5
    cursor-pointer
    hover:translate-y-1 hover:shadow-[0px_0px_0px_rgba(0,0,0,1)] transition-all
    text-center text-black text-xl font-semibold leading-loose;
  }

  .small-button {
    @apply w-20 h-12 px-3.5 py-1
    rounded-[7px] shadow-[3px_3px_0px_rgba(0,0,0,1)]
    outline outline-2 outline-offset-[-2px] outline-black
    flex justify-center items-center gap-2.5
    cursor-pointer
    hover:translate-y-1 hover:shadow-[0px_0px_0px_rgba(0,0,0,1)] transition-all
    text-center text-black text-xl font-semibold leading-loose;
  }

  .cancel-button {
    @apply flex items-center justify-center
    cursor-pointer
    bg-korofu-light-yellow border-2 border-black 
    shadow-[3px_3px_0px_0px_black] rounded-[7px] w-12 h-12 absolute top-2 left-2
    leading-loose text-2xl font-bold !font-['Quicksand'] text-korofu-light-red
    hover:translate-y-1 hover:shadow-[0px_0px_0px_rgba(0,0,0,1)] transition-all;
  }

  .skip-button {
    @apply flex items-center justify-center px-2
    cursor-pointer
    bg-korofu-light-red border-2 border-black 
    shadow-[3px_3px_0px_0px_black] rounded-[7px] h-12 absolute top-2 right-2
    text-center text-2xl font-semibold leading-loose text-korofu-light-yellow
    hover:translate-y-1 hover:shadow-[0px_0px_0px_rgba(0,0,0,1)] transition-all;
  }


  /* OTHER COMPONENT STYLES */

  .popup {
    @apply relative
    bg-white text-center
    py-15 px-10 max-w-[32%] w-full z-10
    outline outline-2 outline-black
    rounded-lg shadow-[8px_8px_0px_rgba(0,0,0,1)];
  }

  .llm-input {
    @apply
    flex justify-center flex-1 px-6 py-4 text-lg font-semibold 
    border-2 border-black rounded-2xl shadow-[3px_3px_0_#000]
    focus:outline-none focus:shadow-[0px_0px_0_#000] transition-shadow
  }

  .llm-input-submit-button {
    @apply
    px-10 py-4 border-2 border-black rounded-2xl 
    shadow-[3px_3px_0_#000] hover:shadow-[0px_0px_0_#000] active:shadow-[2px_2px_0_#000]
    active:translate-x-1 active:translate-y-1 transition-all duration-200
  }

  .mood-tag {
    @apply
    px-4 py-0.5
    rounded-4xl shadow-[3px_3px_0px_rgba(0,0,0,1)]
    outline outline-2 outline-offset-[-2px] outline-black
    flex justify-center items-center gap-2.5
    text-center text-black text-base font-bold leading-loose;
  }


  /* TEXT STYLES */

  .drop-shadow-loading-text {
    @apply text-center justify-center
    text-4xl font-bold
    leading-[45px] [text-shadow:_3px_2px_0px_rgb(0_0_0)] [-webkit-text-stroke:1.5px_black];
  }

  .drop-shadow-title-middle {
    @apply text-center justify-center
    text-4xl font-bold
    leading-[57.5px] [text-shadow:_3px_2px_0px_rgb(0_0_0)] [-webkit-text-stroke:1.5px_black];
  }

  .drop-shadow-title-top {
    @apply mb-6
    text-left
    text-4xl font-bold 
    leading-[57.5px] [text-shadow:_3px_2px_0px_rgb(0_0_0)] [-webkit-text-stroke:1.5px_black];
  }

  .drop-shadow-title-homepage {
    @apply mb-6
    text-left
    text-5xl font-bold 
    leading-[57.5px] [text-shadow:_3px_2px_0px_rgb(0_0_0)] [-webkit-text-stroke:1.5px_black];
  }

  .drop-shadow-big-title {
    @apply mb-6
    text-left
    text-4xl font-bold 
    leading-[57.5px] [text-shadow:_6px_6px_0px_rgb(0_0_0)] [-webkit-text-stroke:1.5px_black];
  }

  /* CARD STYLES */

  .card {
    @apply flex items-center gap-4
    cursor-pointer
    bg-white border-2 border-black
    shadow-[6px_6px_0px_0px_black]
    rounded-[10px] p-[20px_18px]
    w-full h-37.5;
  }

  .card-square {
    @apply bg-white border-2 border-black
    shadow-[6px_6px_0px_0px_black]
    rounded-[10px] p-[20px_18px]
    w-[246px] h-[319px];
  }

  /* ANIMATIONS */
  @keyframes scroll {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  .animate-scroll {
    animation: scroll 20s linear infinite;
  }
}
